<ng-container *ngIf="component | async; let component">
  <ng-container *ngIf="tsdoc.selectedVersion | async; let version">
    <h1>
      {{ component.name }}
      <ng-container *ngIf="component.decorators">
        <code *ngFor="let decorator of component.decorators">@{{ decorator.name }}</code>
      </ng-container>
    </h1>
    <app-type [type]="component" *ngIf="!component.children"></app-type>
    <code *ngIf="component.defaultValue">{{ component.defaultValue }}</code>
    <p *ngIf="component.comment; let comment">{{ comment.shortText }}</p>
    <p class="sources" *ngIf="component.sources; let sources">
      Defined on
      <ng-container *ngFor="let source of sources">
        <a [href]="'https://github.com/angular/angularfire2/blob/' + version.version + '/src/' + source.fileName + '#L' + source.line">
          line {{ source.line }} of {{source.fileName}}
        </a>
      </ng-container>
    </p>
    <dl>
      <ng-container *ngFor="let child of component.children">
        <dt>
          <app-type [type]="child"></app-type>
        </dt>
        <dd *ngIf="child.comment; let comment">{{ comment.shortText }}</dd>
        <dd class="sources" *ngIf="child.sources; let sources">
          Defined on
          <ng-container *ngFor="let source of sources">
            <a [href]="'https://github.com/angular/angularfire2/blob/' + version.version + '/src/' + source.fileName + '#L' + source.line">
              line {{ source.line }} of {{source.fileName}}</a>
          </ng-container>
        </dd>
      </ng-container>
    </dl>
  </ng-container>
</ng-container>