<ul *ngIf="tsdocs.versions | async; let versions">
  <li *ngFor="let version of versions | keyvalue ">
    <ng-container *ngIf="tsdocs.currentPath | async; let path">
      <a routerLink="/{{version.value.version}}/{{path[0].title}}/{{path[1].name}}" routerLinkActive="active">
        {{ version.value.version }}
      </a>
    </ng-container>
    <ng-container *ngIf="(tsdocs.currentPath | async) == null">
      <a routerLink="/{{version.value.version}}" routerLinkActive="active">
        {{ version.value.version }}
      </a>
    </ng-container>
  </li>
</ul>