/* You can add global styles to this file, and also import other style files */
body {
    background-color: white;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

a {
    color: #3333FF;
}